<section class="auth-page">

<div class="auth-card">

<h1>Welcome Back</h1>

<p>Login to NYC Roots & Flavors</p>

<form method="POST" action="/login">

<input
type="email"
name="email"
placeholder="Enter Email"
required
>

<input
type="password"
name="password"
placeholder="Enter Password"
required
>

<button type="submit" class="btn-primary">
Login
</button>

</form>

{{#if error}}
<p class="error">{{error}}</p>
{{/if}}

<p class="switch-link">
No account?
<a href="/register">Create One</a>
</p>

</div>

</section>