<h1>Register</h1><form method='post'><input name='firstName' placeholder='First Name'><input name='lastName' placeholder='Last Name'><input name='email' placeholder='Email'><input type='password' name='password' placeholder='Password'><button>Register</button></form>{{error}}
